select {
  width: 100%;
  height: 34px;
}
.collectiveContener{
  background-color: #f8dac2;
}
.individualContener{
  background-color: #fbe991;
}
.indirectContener{
  background-color: #add090;
}
.dashboardRow{
  background-clip:content-box;
  margin: 5px;
  padding: 5px;
  border-radius:15px;
}

.in-intervention-meeting {
  background-clip:content-box;
  margin: 5px;
  padding: 5px;
  border-radius:15px;
  background-color: lightgrey;

}
.in-intervention-meeting .row {
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.G-DB .meeting, .G-DB .demarche{
  background-clip:content-box;
  margin: 2px;
  padding: 2px;
  border-radius:6px;
}
.G-DB .element {
  margin: 0px;
  padding:0px;
}
.G-DB .meeting {
  background-color: lightgrey;
}
.G-DB .demarche {
  background-color: lightblue;
}
.G-DB label{
  text-align: center;
  padding-top: 10px;
  height:100%;
  width: 100%;
  margin: 0px;
}
.G-DB .btn{
  width: 100%;
  margin: 3px;
}
.multiLvl{
  background-clip:content-box;
  margin: 5px;
  padding: 5px;
  border-radius:15px;
}
.multiLvl .actif {
  background-color: #d9edf7;
}
.multiLvl .unactif {
  background-color: #f5f5f5;
}
.multiLvl .row {
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*
.prospreh-report .table > thead:first-child > tr:first-child > th:first-child {
    position: absolute;
    display: inline-block;
    background-color: #99CCFF;
    width:690px;
}

.prospreh-report .table > tbody > tr > td:first-child {
    position: absolute;
    display: inline-block;
    background-color: #FFFF99;
    width:690px;
}


.prospreh-report .table > thead:first-child > tr:first-child > th:nth-child(2) {
    padding-left: 700px;
}

.prospreh-report .table > tbody > tr > td:nth-child(2) {
    padding-left: 700px ;
}
.prospreh-report .row{
  overflow-x:auto;
  height: 100%;
}
.prospreh-report .table td{
  line-height: 1;
  border-top: none;
}
.prospreh-report .table th{
  line-height: 1;
  border-top: none;
  border-bottom: none;
}

*/


.prospreh-report .groupRow{
  background-color: silver;
}
.prospreh-report .prestRow-odd{
  background-color: #FFFFBB;
}
.prospreh-report .prestRow-even{
  background-color: #FFFF99;
}

.prospreh-report thead{
  background-color: #99CCFF;
}
.prospreh-report .trim{
  width: 100px;
}
.prospreh-report .day{
  width: 60px;
}
.report-direct{
  background: #FFCC99;
}
.report-direct-row_light{
  background: #FF99CC;
}
.report-direct-row_eavy{
  background: #CC99FF;
}
.report-direct-data_cell{
  background: #ffffff;
}
